*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headertop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.5rem;
    background-color: rgb(246, 215, 164);
    padding-bottom: 0.5rem;
    
}
.headertop img{
    width: 4%;
}

.headerbottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem 1rem;
    background-color: rgb(249, 243, 233);
}
header{
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    width: 100%; 
    position: sticky;
}
#booknow{
    padding: 0.5rem 1rem;
    border: none;
    background-color: rgb(26, 26, 110);
    color: white;
    border-radius: 0.3rem;
}
#headercentre{
    text-decoration: none;
    color: black;
    display: none;
    padding:1rem 1rem;    
}
#mainimage{
    width: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    color: rgb(47, 46, 46);
}
#paraheading{
    margin-left: 3rem;
    margin-right: 3rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(47, 46, 46);
    margin-left: 3rem;
    margin-right: 3rem;
    width: 100%;
    display: none;
}
.card{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.package1 img{
  width: 100%;
}
.package1 button{
    padding: 0.3rem 0.6rem;
    border: none;
    background-color: rgb(27, 27, 155);
    color: white;
    border-radius: 0.6rem;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.package1{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding: 1rem;
    
}
.package h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#packageid1{
    height: 765px;
}
#packageid2{
    height: 765px;
}
#pkgimg{
    width: 100%;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 213, 213);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#submitbutton{
    background-color: rgb(15, 107, 15);
    padding: 0.3rem 0.6rem;
    color: white;
    border-radius: 0.5rem;
    border: none;
}
#submitbutton:hover{
 background-color: rgb(54, 149, 54);
}
.footertop{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem
}
.fa {
    padding: 10px;
    font-size: 25px;
    width: 40px;
    
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: rgb(248, 247, 247);
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
  }
#touch{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    padding-top: 1rem
}
#footerlast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     text-decoration: none;
     color: black;
}
#cookies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    gap: 1rem;
}
footer{
    background-color: transparent;
    margin-bottom: 1rem;
}
.get{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
    .headertop img{
        width: 3%;
    }
    .main{
        font-size: 17px;
    }
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
    /* Your styles for medium screens go here */
    .headertop img{
        width: 2%;
    }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */
    .headertop img{
        width: 2%;
    }
    #headercentre{
        display: flex;
    }
    #menu{
        display: none;
    }
    .main{
        font-size: 19px;
    }
#paraheading{
display: flex;
}
#para{
    display: flex;
}
.packages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#footerlast{
    display: flex;
    flex-direction: row;
}
.footerfirst{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}
.footerbottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
    .headertop img{
        width: 1%;
    }
    #name{
        width: 300px;
    }
    #email{
        width: 300px;
        
    }
    #message{
        height: 200px;
        width: 300px;
    }
    .contact{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10rem;
    }
    .contact h2{
        font-size: 40px;
    }
    .contact p{
        font-size: 19px;
    }
    .contactus{
        padding-bottom: 13rem;
    }
    #details{
        padding-top: 3rem;
    }
    .footerfirst{
        gap: 30rem;
    }
}